<div>
  <input type="text" name="name" id="name" [value]="person.name">
</div>
<div>
  <input type="text" name="keyup" id="keyup" (keyup.enter)="print($event.target.value)">
</div>

<div>
  <button (click)="showAlert()">Alert</button>
</div>

<div>
  <img [src]="person.image">
</div>

<hr>

<h1>{{title}}</h1>

<app-list [name]="'Martinez'" (changeTitle)="onChangeTitle($event)"></app-list>
<!-- [name] as Input -->
<!-- (changeTitle) as Output, follow current module function to receive the event -->

<app-for></app-for>
